parameters:
    excludes_analyse:
        - %currentWorkingDirectory%/src/Bundle/*/var/*
        - %currentWorkingDirectory%/src/Component/*/Tests/*
        - %currentWorkingDirectory%/src/EncryptionAlgorithm/*/Tests/*
        - %currentWorkingDirectory%/src/Experimental/*/Tests/*
        - %currentWorkingDirectory%/src/SignatureAlgorithm/*/Tests/*

    ignoreErrors:
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\)#'

includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
